<!DOCTYPE html>
<html lang="en">

<head>
    <!--For Icons-->
    <script src="https://kit.fontawesome.com/fc9b5f3f34.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sal's Brews</title>
    <link rel="shortcut icon" href="../assets/SBIcon.ico" type="image/x-icon">

    <%- include('../partials/head') %>

        <link rel="stylesheet" href="../styles/profileStyles.css">
</head>

<body>
    <div class="page-wrapper">
        <%- include('../partials/navbar') %>
            <div id="content">
                <div id="user-profile">
                    <h1>USER PROFILE</h1>
                    <div id="user-content">
                        <div class="container">
                            <div class="user-info">
                                <label for="full-name">Full Name:</label>
                                <input type="text" name="full-name" id="full-name" placeholder="" readonly>
                            </div>
                            <div class="user-info">
                                <label for="age">Age:</label>
                                <input type="number" name="age" id="age" placeholder="" min="0" readonly>
                            </div>
                            <div class="user-info">
                                <label for="address">Address:</label>
                                <input type="text" name="address" id="address" placeholder="" readonly>
                            </div>
                        </div>

                        <div class="container">
                            <div class="user-info">
                                <label for="contact-number">Contact Number:</label>
                                <input type="tel" name="contact-number" id="contact-number" placeholder="" readonly>
                            </div>
                            <div class="user-info">
                                <label for="email">Email:</label>
                                <input type="email" name="email" id="email" placeholder="" readonly>
                            </div>
                            <div class="user-info">
                                <label for="password">Password:</label>
                                <input type="password" name="password" id="password" placeholder="" readonly>
                            </div>
                        </div>
                    </div>
                    <div id="buttons">
                        <button id="edit-profile">EDIT PROFILE</button>
                        <button id="cancel-edit">CANCEL EDIT</button>
                    </div>
                </div>

                <div id="orders">
                    <h2>ORDERS</h2>
                    <div id="select">
                        <a href="#">Ongoing</a>
                        <a href="#">History</a>
                    </div>

                    <div id="table">
                        <table>
                            <colgroup>
                                <col style="width: 15%;">
                                <col style="width: 15%;">
                                <col style="width: 20%;">
                                <col style="width: 30%;">
                                <col style="width: 10%;">
                                <col style="width: 20%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Order Id</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Address</th>
                                    <th>Total</th>
                                    <th><i class="fa-solid fa-mug-saucer"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>sample</td>
                                    <td>sample</td>
                                    <td>sample</td>
                                    <td>sample</td>
                                    <td>sample</td>
                                    <td><a href="">view order</a></td>
                                </tr>
                                <tr>
                                    <td>sample</td>
                                    <td>sample</td>
                                    <td>sample</td>
                                    <td>sample</td>
                                    <td>sample</td>
                                    <td><a href="">view order</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <%- include('../partials/footer') %>
            </div>
    </div>
</body>

</html>