<div class="sidebar">
  <div class="logo">
    <img src="/assets/SBhomeLogo.png" alt="Sal's Brews Logo" />
  </div>
  <div class="nav">
    <a href="/admin/adminmenu" class="tab-link <%= page === 'menu' ? 'active' : '' %>">Menu</a>
    <a href="/admin/adminorders" class="tab-link <%= page === 'orders' ? 'active' : '' %>">Orders</a>
    <a href="/admin/adminfeedback" class="tab-link <%= page === 'feedback' ? 'active' : '' %>">Feedback</a>
    <a href="/admin/adminusers" class="tab-link <%= page === 'users' ? 'active' : '' %>">User Accounts</a>
  </div>
<button id="signoutBtn" class="signout">SIGN OUT</button>
<script src="/auth/signout.js"></script>
</div>

