<div class="sidebar">
  <div class="logo">
    <img src="/assets/SBhomeLogo.png" alt="Sal's Brews Logo" />
  </div>
  <div class="nav">
    <a href="/admin/menu" class="tab-link">Menu</a>
    <a href="/admin/orders" class="tab-link">Orders</a>
    <a href="/admin/feedback" class="tab-link">Feedback</a>
    <a href="/admin/users" class="tab-link">User Accounts</a>
  </div>
  <button class="signout">SIGN OUT</button>
</div>
