<style>

* {
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    background-color: #452e1e;
    padding: 20px;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}

footer p {
    margin: 10px 0;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: bold;
}

footer a {
    color: #f7efda;
    text-decoration: none;
}

footer img {
    margin-top: 10px;
    width: 22px;
    height: 22px;
    margin: 0 5px;
    vertical-align: middle;
}

footer img:hover {
    filter: brightness(0.8);
    box-shadow: #cbb897 0px 0px 10px;
}

footer .email-link:hover {
    text-decoration: underline;
    color: #f7efda;
}
</style>

<footer>
    <p>&copy; 2023 Sal's Brews. All rights reserved.</p>
    <p>
        Follow us on 
        <a href="https://www.instagram.com/salsbrews" target="_blank"><img src="/assets/ig.png" alt="Instagram"></a> 
        <a href="https://www.facebook.com/salsbrews" target="_blank"><img src="/assets/fb.png" alt="Facebook"></a>
        <a href="https://www.twitter.com/salsbrews" target="_blank"><img src="/assets/x-icon.png" alt="Twitter"></a>
    </p>
    <p>Contact us at <a href="mailto:support@salsbrews.com" class="email-link">support@salsbrews.com</a></p>
</footer>
