<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #452e1e;
}

/* Navbar */
.navbar {
    font-family: "Bricolage Grotesque", sans-serif;
    background: #cbb897;
    color: #f7efda;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.salsHeader {
    display: flex;
    align-items: center;
    gap: 30px;
}

.salsLink {
    text-decoration: none;
    color: #452e1e;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.salsLink:hover {
    color: #47532b;
    font-size: 21px;
    border-bottom: 2px solid #47532b;
    transform: scale(1.05);
}

.menu-icon {
    display: inline-block;
}
</style>

   <div class="navbar">
        <div><a href="/"><img src="/assets/SBhomeLogo.png"></a></div>
        <div class="salsHeader">
            <header class="salsHeader">
                <a href="/" class="salsLink">Home</a>
                <a class="salsLink" href="/menu">Menu</a>
                <a class="salsLink" href="/profile">Profile</a>
                <a class="cart" href="/cart"><img src="/assets/shoppingCart.png" height="28px" width="28px"></a>
            </header>
        </div>
    </div>