* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #cbb897;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */
.navbar {
    font-family: "Bricolage Grotesque", sans-serif;
    background: #cbb897;
    color: #f7efda;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.salsHeader {
    display: flex;
    align-items: center;
    gap: 30px;
}

.salsLink {
    text-decoration: none;
    color: #452e1e;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.salsLink:hover {
    color: #47532b;
    font-size: 21px;
    border-bottom: 2px solid #47532b;
    transform: scale(1.05);
}

/* end Navbar */

#table h1 {
    text-align: center;
    color: #452e1e;
    background-color: #cbb897;
    font-family: "Lora", serif;
    margin-bottom: 10px;
}

/* Table */
#table {
    background-color: #452e1e;
    width: 90%;
    table-layout: fixed;
    margin: 0 auto 40px auto;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-bottom: 2px solid #e9d2a8;
    max-height: 450px;
}

th {
    text-align: center;
    padding: 10px;
    color: #ffff;
    word-wrap: break-word;
    font-size: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: bold;
    text-overflow: ellipsis;
}

thead tr {
    border-bottom: 2px solid #e9d2a8;
}


td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    color: #e9d2a8;
    word-wrap: break-word;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.items img {
    width: 150px;
    height: 150px;
}

/* end Table */


#content {
    flex: 1;
    padding-bottom: 100px; 
}

#buttons {
    margin-top: 30px;
    text-align: center;
}

#check-out {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: bolder;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: #47532b;
    color: #cbb897;
    margin-bottom: 60px;  
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
