*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #cbb897;
    align-items: center;
    justify-content: center;
}

.navbar {
    font-family: "Bricolage Grotesque", sans-serif;
    background: #cbb897;
    color: #f7efda;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.salsHeader {
    display: flex;
    align-items: center;
    gap: 30px;
}

.salsLink {
    text-decoration: none;
    color: #452e1e;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.salsLink:hover {
    color: #47532b;
    font-size: 21px;
    border-bottom: 2px solid #47532b;
    transform: scale(1.05);
}

.orderInformation {
    display: flex;
    font-weight: bold;
    font-size: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: #452e1e;
}

.orderDetails{
    padding-left: 20px;
    padding-bottom: 20px;
    color: #f7efda;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    background-color: #845a2d;
    width: 90%;
    border-radius: 5px;
}

#itemImage {
    width: 100px;
    height: 100px;
}