* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #cbb897 !important;
    align-items: center;
    justify-content: center;
}


/*user-profile*/

#user-profile {
    font-family: "Bricolage Grotesque", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-profile h1{
    font-family: "Lora", serif;
    color: #452e1e;
    font-weight: bolder;
    text-align: center;
}

#user-content {
    display: flex;
}

.container {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.user-info input {
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    color: #452e1e;
    border-radius: 8px;
    border: none;
}

.user-info input:focus {
    border-color: #452e1e;
}

.user-info label {
    font-size: 16px;
    color: #47532b;
    font-weight: bold;
}

#buttons {
    margin-top: 10px;
    display: flex;
    gap: 20px
}

#edit-profile, #cancel-edit, #save-edit {
    padding: 10px 15px;
    color: #ffff;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 20px;
    border: none;
}

#edit-profile {
    background-color: #47532b;
}

#save-edit:hover {
    background-color: #726969;
   
}
#edit-profile:hover{
    background-color: #726969;
  
}
#cancel-edit:hover {
   background-color: #726969;
  
}

#cancel-edit {
    background-color: #452e1e;
}
#save-edit {
    background-color: #3a6f3a;
}
/* end user-profile*/

/*orders*/
#orders {
    background-color: #845a2d;
    color: #ffff;
    font-family: "Bricolage Grotesque", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px;
    border-radius: 20px;
}

#orders h2 {
    margin: 10px 0px;
    font-family: "Lora", serif;
    font-weight: bolder;
}

#select {
    display: flex;
    gap: 50px;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
    padding-bottom: 10px;
}

#select a {
    text-decoration: none;
    color: #e9d2a8;
}

#select a:hover {
    text-decoration: underline;
    color: #47532b;
    text-underline-offset: 8px;
}

#table {
    background-color: #c08444;
    width: 90%;
    table-layout: fixed;
    margin: 0 auto 40px auto;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-bottom: 2px solid #e9d2a8;
}

th {
    text-align: center;
    padding: 10px;
    color: #ffff;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
}

thead tr {
    border-bottom: 2px solid #e9d2a8;
}


td {
    text-align: left;
    vertical-align: middle;
    padding: 10px;
    color: #e9d2a8;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
}

td:last-child {
    text-align: center;
}

table a {
    color: #47532b;
    text-underline-offset: 4px;
}

table a:hover {
    color: #ffff;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

input[type="password"] {
    width: auto;  
    padding-left: 10px;  
}