<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sal's Brews</title>
    <link rel="stylesheet" href="/styles/loginStyles.css">
    <link rel="shortcut icon" href="/assets/SBIcon.ico" type="image/x-icon">
</head>

<body>
    <div class="login-container">
        <img src="/assets/SBLogoLight.png" alt="Sal's Brews Logo" class="logo">
        <h2>SIGN-IN:</h2>
        <form action="#" method="post">
            <label for="user-name">USERNAME</label>
            <input type="text" name="user-name" id="user-name">

            <label for="password">PASSWORD</label>
            <input type="password" name="password" id="password">

            <button id="login" class="login-btn" onclick="">LOG-IN</button>

            <p class="signup-text">Don't have an account yet? <a href="/auth/register">Click here</a> to Sign-up.</p>
        </form>
        
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
    <script src="/auth/login.js"></script>
</html>
